@import url(https://igorlazzaretti.com/reset.css);


/* Reflow Styling */
header[role="banner"]       { grid-area: header; }
main[role="main"]           { grid-area: main; }
aside[role="complementary"] { grid-area: aside; }
footer[role="contentinfo"]  { grid-area: footer; }

.grid,
.subgrid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.grid {
  grid-template-areas:
  'header'
  'main'
  'aside'
  'footer';
  width: 100%;
}

.subgrid {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}

.grid-item,
.subgrid-item {
  padding: 1rem;
}

@media all and (max-width: 888px) {
    .grid {
        grid-template-areas:
          'header header header'
          'main main main'
          'aside aside footer';
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      }
    
}

@media all and (min-width: 888px) { 
  .grid {
    grid-template-areas:
      'header header header'
      'aside main main'
      'footer footer footer';
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

}






/* aaaaaaaaaaaaaaaaaaa */
body{

    background: linear-gradient(180deg, rgba(39, 140, 183, 0)  10%, rgba(51, 169, 219, 0.052) 70%, rgba(32, 171, 230, 0.101)  500%);
    height: 100vh;

}
h1{
    font-size: 30px;
    font-style: italic
}
h2{
    font-weight: 400;
    font-size: 25px;
}


/* HEADER */
header{
    background: linear-gradient(0deg, rgba(10, 33, 43, 0) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(7, 67, 92, 0.2) 100%);
}


ul { list-style: none; padding-left: 3px;}
a { color:rgb(48, 117, 220); text-decoration: none;}

header {
    border-bottom: solid 1px #cdcdcd;
    padding: 0px;
    text-align: center;
    height: 8vh;
}
@media all and (min-width: 100px) {
 header img{
    margin-top: -10px;
    width: 30vh;
    max-width: 240px;
    min-width: 150px;
}}
@media all and (min-width: 550px) {
    header img{
        margin-top: -10px;
       width: 30vh;
       max-width: 240px;
       min-width: 130px;
   }}
@media all and (min-width: 880px) {
    header img{
        margin-top: -10px;

        width: 30vh;
       max-width: 240px;
       min-width: 130px;
   }} 
   
/*        MAIN             */
main{
    text-align: center;
    
}
main div{
    margin-right: 20vw;
    width: 6    50px;
}
main img{
    margin-top: 20px;
}


footer {
    min-height: 40vh;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}
footer img{
    width: 53px;
        
}

aside {
    display: inline;
    max-width: fit-content;
    border-right: solid 1px #cdcdcd;
  }

